#!/usr/bin/make -f
export git_protocol=https
%:
	dh $@

override_dh_install:
	apt-get --assume-yes install ruby
	apt-get --assume-yes install git
	export git_protocol=https
	gem install librarian-puppet-simple --no-ri --no-rdoc -p http://10.140.218.59:3128/
	rm -f $(CURDIR)/debian/puppet-jiocloud/usr/share/hiera/hiera.yaml
	export git_protocol=https
	git config --global http.proxy http://10.140.218.59:3128/
	git config --global https.proxy http://10.140.218.59:3128/
	librarian-puppet install --puppetfile=$(CURDIR)/Puppetfile  --path=$(CURDIR)/modules
	dh_install

refresh_modules:
	rm -rf modules
	librarian-puppet install --puppetfile=$(CURDIR)/Puppetfile  --path=$(CURDIR)/modules

override_dh_auto_clean:
	dh_auto_clean
